body {
  font-family: sans-serif;
  background: #1b1a1af8;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* max-width: fit-content; */
  /* margin: auto; */
  padding: 20px;
  overflow: hidden;
  @media (max-width: 500px) {
    padding: 10px;
    margin: auto;
  }
}

.grid {
  max-width: 100%;
  display: grid;
  margin: 0px auto;
  justify-content: space-around;
  gap: 4px;
  @media (max-width: 500px) {
    width: 100%;
  }
}

.title {
  font-size: 26px;
  letter-spacing: 0.2ch;
  margin-bottom: 20px;
}

.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 18px;
  letter-spacing: 0.2ch;
  gap: 10px;
  .difficulty {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 20px auto; */
    padding: 7px 10px;
    background: linear-gradient(to right, #30713d61, #078644);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: fit-content;
  }

  .difficulty select {
    font-size: 16px;
    padding: 5px 16px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    appearance: none;
    outline: none;
    transition: all 0.3s ease;
  }

  .difficulty select:hover {
    background-color: #f0f0f0;
  }

  .difficulty select:focus {
    box-shadow: 0 0 0 2px #18120388;
  }
}

.candyWrapper {
  box-sizing: border-box;
  /* transition: transform 0.2s ease; */
  width: 50px;
  height: 50px;
  border-radius: 10px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  cursor: grab;
  user-select: none;
  border: 2px solid transparent;
  /* margin: 2px; */
  @media (max-width: 500px) {
    width: unset;
    height: unset;
    /* font-size: 25px; */
  }
}

.candyWrapper:active {
  cursor: grabbing;
}

.candyWrapper:has(.candy.matched) {
  background: #40712f91;
  border: 2px solid #aeae841c;
}

.candyWrapper:hover {
  background: #444;
  transform: scale(1.05);
  border: 2px solid #aeae841c;
}

.candyWrapper:has(.candy.matched):hover {
  background: #55854591;
}

.particle {
  font-size: 15px;
  z-index: 300;
  position: absolute;
  will-change: transform, opacity;
}

.noMovesAlert {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  border: 2px solid rgba(0, 0, 0, 0.966);
}

.winMessage,
.loseMessage {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  background: #59ad5cb6;
  padding: 1rem 2rem;
  border-radius: 10px;
  z-index: 999;
  pointer-events: none;
  border: 2px solid #032005d0;
}

.loseMessage {
  background: #8c3722b6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emojiRain {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  pointer-events: none;
  user-select: none;
  will-change: transform, opacity;
}

.restartBtn {
  margin-top: 20px;
  padding: 7px 20px;
  font-size: 16px;
  background-color: #0e4019;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.752);
  border-radius: 8px;
  cursor: pointer;
  pointer-events: auto;
}

.backgroundEmoji {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0.15;
  z-index: -1;
  overflow: hidden;
}

.gridHeader {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #2b4931, #00180c);
  height: 3em;
  border-radius: 10px;
  z-index: 200;
}

.gridHeaderItem {
  font-size: 30px;
}
